*{
    padding: 0;
    margin: 0;
    font-family: "Mulish", sans-serif;
}
.container{
    max-width: 1370px;
    padding: 0px 100px;
    margin: 0 auto;
}
/* ||||||||||||||nav section start.||||||||||| */
.nav-section{
    margin: 40px 0px;
}
.nav-column{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.nav-logo 
.nav-logo-text{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}
.nav-logo-text h1{
    color:#131318 ;
    font-size: 36px;
    font-weight: 800;
    line-height: 45px;
}
.nav-logo-text span{
    color:#FF5400 ;
}
/* .nav-item {
    display: none;

} */
.nav-item ul{
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: row;
}
.nav-item li{
    list-style: none; 
}
.nav-item a{
    text-decoration: none;
    color: #424247;
    transition: .3s ease-in-out;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    padding: 0px 20px;
}
.nav-item a:hover{
    color: #FF5400;
}
/* ||||||||||||||nav section end||||||||||| */
/* |||||||||||  BANNER SECTION START|||||||||| */











/* |||||||||||  BANNER SECTION ENDT|||||||||| */
/* ||||||||||| TOURS SECTION START|||||||||||| */
.tours-column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 100px;
}
.tours-left{
    padding-right: 20px;
    text-align: left;
}
.tours-left h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    color: #131318;
    padding: 24px 0px;
}
.tours-left p , li{
    padding: 4px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #5A5A5D;
}
.btn1 a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
}
.btn1{
    background-color: #FF5400;
    width: 160px;
    height: 45px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}

/* ||||||||||| TOURS SECTION END|||||||||||| */
/* ||||||||||||||||DESTINATION SECTION START||||||||||||||||| */
.destination-info{
    text-align: center;
}
.destination-info h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 20px;
}
.destination-info p{
    color:#5A5A5D ;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 45px;
}
/* ............destination place....... */
.destination-one , .destination-two , .destination-three{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.destination-one , .destination-two , .destination-three{
    position:relative;
    margin-top: 10px;
}
.destination-one .mal-text{
    position: absolute;
    top: 50%;
    left: 23%;
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
    text-align: center;
}
.destination-one .indo-text{
    position: absolute;
    top: 50%;
    left: 68%;
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
    text-align: center;
}
.destination-two .sri-text{
    position: absolute;
    top: 50%;
    left: 15%;
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
    text-align: center;
}
.destination-two .ame-text{
    position: absolute;
    top: 50%;
    left: 46%;
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
    text-align: center;
}
.destination-two .kas-text{
    position: absolute;
    top: 50%;
    left: 80%;
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
    text-align: center;
}
.destination-three .bd-text{
    position: absolute;
    top: 50%;
    left: 17%;
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
    text-align: center;
}
.destination-three .ban-text{
    position: absolute;
    top: 50%;
    left: 64%;
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
    text-align: center;
}


/* ||||||||||||||||DESTINATION SECTION END|||||||||||||||||| */
/* ||||||||||||||||| */